body {
    font-family: 'Montserrat';
    margin: 0 auto;
    color: rgb(42, 42, 42);
}

main {
    max-width: 1280px;
    margin:auto;
}

.banner-container {
    margin-top:50px;
    display:flex;
    justify-content: space-between;
}

.image-container {
    width:50%;
}

.image-container img {
    max-width: 100%;
}

.title-container h1 {
    font-weight:900;
    font-size:45px;
}

.title-container {
    width:50%;
}

.title-container a {
    font-weight:900;
    background:yellow;

    /* top right bottom left */
    /* padding: 15px 75px 15px 75px; */
    
    padding-top:15px;
    padding-bottom: 15px;
    padding-left: 75px;
    padding-right: 75px; 
}

.title-container p {
    padding-bottom: 30px;
}

a {
    /* nuimame numatyta nuorodos formatavimas */
    text-decoration: none;
    color: rgb(42, 42, 42);
    text-transform: uppercase;
}

a:visited {
    text-decoration: none;
    color: rgb(42, 42, 42);
    text-transform: uppercase;
}

a:hover {
    color:rgb(167, 164, 164);
    /* ryskumas */
    opacity: 0.5;
}


.logo img {
    max-width: 64px;
}

.top-container {
    display:flex;
    justify-content: space-between;
    /* automatiskai parenka parastes is kaires ir desines puses */
    margin: 0 auto;
    /* svetaines iscentravimas su margin auto ir maksimaliu plociu */
    max-width: 1280px;
    background: #fff;
}

.navigation {
    display:inline-block;
}

.navigation ul li {
    display: inline;
    margin-right:30px;
}
.navigation ul li:last-child {
    margin-right:0;
}

.our-blog-container {
    width:100%;
    display: inline;
}

.article-container {
  display: inline;
  width:31%;
  float:left;
  margin-right:44px;
}

.the-place {
    font-weight: bold;
}

.article-container1 {
    display: inline;
    width:31%;
    float:left;
    margin-right:0px;  
    margin-bottom: 50px;  
}

.chairs {
    display: inline;
    width:100%;
}

.article {
    display:inline-block;
    font-weight: bold;
}

.super-article {
display:inline;
}

.date {
display: inline;
color: lightgray;
padding-top: 30px;
}

.pictures {
width: 100%;
}

.row {
display: flex;
justify-content: space-between;
width: 100%;
text-decoration:none;
}

.col {
width:34%;
}

.lamp {
width:404px;
height:404px;
}

.shoe {
width:404px;
height:550px
}

.hear-more {
font-weight: bold;
}

.grid-container {
display: grid;
grid-column-gap: 50px;
grid-template-columns: repeat(3, auto);
justify-content:space-between;
}

.grid-container img {
max-width: 100%;
height: auto;
object-fit: cover;
display: inline;
}

.grid-container h2 {
max-width: 100%; 
max-height: 100%;
}

.grid-container p {
max-width: 100%; 
height: auto;
font-weight: bold;
}

.grid-item1 {
position: relative; 
max-width: 100%;
height: 100%;
object-fit: cover;
}

.grid-item2 {
display:flex;
position: relative; 
}

.hover {
font-size: 30px; 
font-weight: bold;  
text-align: center;
box-sizing: border-box;
width: 50%;
padding: 10px;
position: absolute;
bottom: 0; left: 0;
background-color:yellow;
color: black;
visibility: none; 
opacity: 0;
transition: opacity 0.3s;
}

.hover1 {
font-size: 20px;   
color:white;
}

.hover:hover {
visibility: visible; 
opacity: 1;
}

.grid-item3 {
padding: 70px 0;
}

.about-us {
margin-top: 90px;
}

input[type=text], textarea {
background-color: lightgrey;
width: 100%; 
padding: 12px;
border: 1px solid lightgray;
box-sizing: border-box;
margin-bottom: 20px; 
resize: vertical;
}
  
.contact-container a {
font-weight:900;
background:yellow;
margin-top: 20px;
padding-top:15px;
padding-bottom: 15px;
padding-left: 75px;
padding-right: 75px; 
}

a {
text-decoration: none;
color: rgb(42, 42, 42);
text-transform: uppercase;
}

a:visited {
text-decoration: none;
color: rgb(42, 42, 42);
text-transform: uppercase;
}

a:hover {
color:rgb(167, 164, 164);
opacity: 0.5;
}

.skyscrapers {
width: 100%;
height: 75%;
object-fit: cover;
margin-left: 50px;
}


